html, body{
	width: 100%;
	height: 100%;
	
	padding: 0px;
	margin: 0px;
	font-family: arial;
	background: #eaeaea;
}

#map-container {
	width: 100%;
	height: 100%;
	
	min-width: 960px;
	
	display: inline-block;
	
	overflow: hidden;
}

#map-container #header {
	width: 100%;
	height: 100px;
	
	min-width: 960px;
	
	position: absolute;
	top: 0px;
	
	z-index: 300;
	
	background: #000;
}

ul#header_stats {
	float: left;
	list-style: none;
	margin: 0 0 0 15px;
}

ul#header_stats li {
	float: left;
	color: #ff8500;
	margin-right: 15px;
	display: table;
	
	height: 100px;
}

ul#header_stats li label {
	font-weight: bold;
	font-size: 15px;
	display: table-cell;
	vertical-align: middle;
}

ul#header_stats li span {
	font-size: 35px; 
	color: #ff8500;
	padding: 0 0 0 10px;
	display: table-cell;
	vertical-align: middle;
}

#map-container #header .logo {
	margin: 15px 0 0 20px;
	float: left;
}

.clear {
	clear: both;
}

#map-container #map {
	position: relative;
	width: 100%;
	height: 100%;
	/*background: url(/img/map.jpg) no-repeat;
	background-size: cover;
	background-position: center center;*/
}
#map-container #background {
	z-index: 0;
	position: absolute;
}

#map-container #map #labels {
	min-width: 1200px;
	display: table;
	overflow: hidden;
	z-index: 1000;
}

#map-container #map #labels li {
	/*background: rgba(255,255,255,0.3);*/
	display: table;
	position: absolute;
	
	cursor: pointer;
	
	text-align: center;
	vertical-align: middle;
	
}

#map-container #map #labels li p {
	margin: 0;
	padding: 0;
	
	color: #FFF;
	font-size: 20px;
	
	text-shadow: 1px 1px 2px rgba(0,0,0,0.6);
	
	line-height: 100%;
	display: table-cell;
	vertical-align: middle;
}

#map-container #map #labels .festival {
	left: 6%;
	top: 25%;
	
	width: 25%;
	height: 20%;
}

#map-container #map #labels .disco {
	left: 32%;
	top: 38%;
	
	width: 23%;
	height: 20%;
}

#map-container #map #labels .bar {
	left: 57%;
	top: 62%;
	
	width: 10%;
	height: 12%;
}

#map-container #map #labels .friends {
	left: 70%;
	top: 54%;
	
	width: 14%;
	height: 12%;
}

#map-container #map #labels .home {
	left: 36%;
	top: 66%;
	
	width: 10%;
	height: 10%;
}

#map-container #footer {
	height: 100px;
	width: 100%;
	
	background: #3A69C1;
}

#frame{
	margin: 50px auto;
	width: 1024px; height: 768px;
	border: 15px solid black ;
	background: #574951;
	/*background: red url('../img/bg3.jpg');*/
}

#header{
	height: 96px;
	width: 100%;
	background: #1C0113;
	/*background: url('../img/headerBg.jpg') repeat-x;*/
}

#logo{
	width: 234px; height: 90px;
	margin: 5px auto;
	float: left;
	background: url('../img/logo.png'); background-repeat:no-repeat ;
	
}

#humeur{
	font-family: calibri; font-size: 15px;
	height: 90px; width: 157px;
	float: left;
	background: #1C0113; color:#F03C02;
	text-align: right;
	vertical-align: middle;
	line-height: 90px; 
}

#humeurTotal{
	font-size: 35px; color: #F03C02;
}



#gezondheid{
	font-family: calibri; text-align: right;
	height: 90px; width: 140px; 
	font-size: 15px;
	color:#F03C02; background: #1C0113;
	float: left;
	vertical-align: middle;
	line-height: 90px; 
}

#gezondheidTotal{
	font-size: 35px;
	color: #F03C02;
}


#dag{
	font-family: calibri; font-size: 15px; text-align: center;
	height: 90px; width: 117px;
	color:#F03C02;
	float: left;
	background: #1C0113;
	vertical-align: middle;
	line-height: 90px; 
}

#dagTotal{
	font-size: 35px; color: #F03C02;
}


#stats{
	font-family: calibri;
	margin: 30px 0px 0px 30px;
	height: 40px; width: 350px;
	font-size: 15px;
	float: left;
}

#score{
	width: 187px; height: 90px;
	color:#F03C02; background: #1C0113;
	float: left;
	text-align: center;
	vertical-align: middle;
	line-height: 85px; 


}

#scoreTotal{
	font-size: 40px;
}

#optionsBut{
	height: 90px; width: 131px;
	background: brown;
	float: right;
	background: url('../img/menu.png') center left;
	background-repeat:no-repeat ;
	
}

#stats ul{
	font-family: calibri; font-size: 16px;
	list-style: none;
	padding: 0px;
	margin: 0px;
}

#stats ul li{
	padding: 0px;
	margin: 0px 0px 0px 20px;
	display: inline;
	text-align: center;
	vertical-align: middle;

}

#energymeter{
	float: right;
	margin-left: -100px;
}

#vierkant { width: 1024px; height: 280px; background: #3A111C; 
		margin: 392px 0px 0px 0px;
}

#vierkant2{
	width: 100px; height: 280px; background: red; 
		margin: 392px 0px 0px 0px;
}

/*login scherm*/

#frameLogin{
	width: 1024px; 
	height: 768px;
	background: url('../img/loginframebg.jpg');
	position: absolute;
}

#orangeBox{
	background: #ff8f00 url('../img/loginlogo.png') -220px -203px no-repeat;
	width: 324px;
	border-radius: 2px;
	margin: 290px auto 0px auto;
	padding: 20px 0px 32px 80px;
}

#orangeBox h1{
	margin: 0px;
	padding: 0px;
	font-size: 26px;
	color: #fff;
}

#orangeBox table{
	margin: 0px auto;
}

#orangeBox input{
	margin: 12px 0px 0px 0px;
	color: #868686;
	font-size: 18px;
	padding: 5px 10px;
	height: 26px;
	width: 244px;
	border: none;
	border-top: 1px solid #e7bd88;
	border-right: 1px solid #e7bd88;
}

#welcomeMsg{
	font-size: 14px;
	color: #fff;
	height: 200px;
	width: 660px;
	margin: 75px auto 0px auto;
}

#welcomeMsg h1{
	font-size: 24px;
	font-weight: 300;
	margin: 0px;
	padding: 0px;
}

.link1{
	margin: -20px 0px 0px -40px;
}

.link1 a{
	color: #fff;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
}

.link1 a:hover{
	text-decoration: underline;
}

#orangeBox .but1{
	border: none;
	float: right;
	color: #fff;
	cursor: pointer;
	width: 127px;
	height: 49px;
	background: url('../img/but1.jpg');
}

#orangeBox .but1:hover{
	background: url('../img/but1_hov.jpg');
}

.error{
	background: red;
	float: right;
	margin: 120px 100px 0px 0px;
	padding: 20px;	
	border-radius: 4px;
	font-size: 14px;
	max-width: 300px;
	font-weight: bold;
	color: #fff;
}

#barBackground{
	background-image: url('../img/bar.png');
	height:100%;	
<<<<<<< HEAD
}


#optie1{
	background-color: black;
	-moz-border-radius: 5px;
	border-radius: 6px;
	color: #fff;
	font-size: 20px
	text-decoration:none;
	cursor: poiner;
	border:none;
	margin: 50px 200px 0 500px;

}

#optie1:hover{
	border: none;
	background: red;
	box-shadow: 0px 0px 1px #777;
}

#optie2{
	background-color: black;
	-moz-border-radius: 5px;
	border-radius: 6px;
	color: #fff;
	font-size: 20px
	text-decoration:none;
	cursor: poiner;
	border:none;
	margin: 50px 200px 0 500px;

}

#optie2:hover{
	border: none;
	background: red;
	box-shadow: 0px 0px 1px #777;
}

#optie3{
	background-color: black;
	-moz-border-radius: 5px;
	border-radius: 6px;
	color: #fff;
	font-size: 20px
	text-decoration:none;
	cursor: poiner;
	border:none;
	margin: 50px 200px 0 500px;

}

<<<<<<< Updated upstream
/*AVATAR creation*/
#creationFrame{
	width: 996px;
	height: 570px;
	margin: 0px auto;
	background: #4c4047;
	color: #fff;
	font-family: arial;
	font-size: 12px;
}
=======
}

>>>>>>> feature/bar_v2

.optie1{
	color: green;
	-moz-border-radius: 5px;
	border-radius: 6px;
	color: #fff;
	height: 100px;
     width: 400px;
	font-size: 20px
	text-decoration:none;
	position:absolute;
	border:none;
	margin: 50px 100px 0 500px;


}

.optie1:hover{
	border: none;
	background: red;
	box-shadow: 0px 0px 1px #777;
}
/*

#optie2{
	background-color: black;
	-moz-border-radius: 5px;
	border-radius: 6px;
	color: #fff;
	font-size: 20px
	text-decoration:none;
	cursor: poiner;
	border:none;
	margin: 50px 200px 0 500px;

}

#optie2:hover{
	border: none;
	background: red;
	box-shadow: 0px 0px 1px #777;
}

#optie3{
	background-color: black;
	-moz-border-radius: 5px;
	border-radius: 6px;
	color: #fff;
	font-size: 20px
	text-decoration:none;
	cursor: poiner;
	border:none;
	margin: 50px 200px 0 500px;

}
*/

<<<<<<< HEAD
#legBlock{
	height: 187px;
	background: #ff8f00;
=======
=======
>>>>>>> feature/bar_v2
#optie3:hover{
	border: none;
	background: red;
	box-shadow: 0px 0px 1px #777;
<<<<<<< HEAD
>>>>>>> Stashed changes
=======
>>>>>>> feature/bar_v2
}