html, body{
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	font-family: arial;
	background: #eaeaea;
}

#map-container {
	width: 100%;
	height: 100%;
	
	min-width: 960px;
	
	display: inline-block;
	
	overflow: hidden;
}

#map-container #header {
	width: 100%;
	height: 100px;
	
	min-width: 960px;
	
	position: absolute;
	top: 0px;
	
	z-index: 300;
	
	background: #000;
}

ul#header_stats {
	float: left;
	list-style: none;
	margin: 0 0 0 15px;
}

ul#header_stats li {
	float: left;
	color: #ff8500;
	margin-right: 15px;
	display: table;
	
	height: 100px;
}

ul#header_stats li label {
	font-weight: bold;
	font-size: 15px;
	display: table-cell;
	vertical-align: middle;
	
	background-color: rgba(0,0,0,0.3);
}

ul#header_stats li span {
	font-size: 35px; 
	color: #ff8500;
	padding: 0 0 0 10px;
	display: table-cell;
	vertical-align: middle;
}

#map-container #header .logo {
	margin: 15px 0 0 20px;
	float: left;
}

.clear {
	clear: both;
}

#map-container #map {
	position: relative;
	width: 100%;
	height: 100%;
	/*background: url(/img/map.jpg) no-repeat;
	background-size: cover;
	background-position: center center;*/
}
#map-container #background {
	z-index: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	background: url(/img/map.jpg);
	background-size: cover;
	background-position: center center;
}

#map-container #map #labels {
	min-width: 1200px;
	display: table;
	overflow: hidden;
	z-index: 1000;
}

#map-container #map #labels li {
	/*background: rgba(255,255,255,0.3);*/
	display: table;
	position: absolute;
	
	cursor: pointer;
	
	text-align: center;
	vertical-align: middle;
	
}

#map-container #map #labels li a {
	width: 100%;
	height: 100%;
	display: table;
	text-decoration: none;
}

#map-container #map #labels li p {
	margin: 0;
	padding: 0;
	
	width: 100%;
	height: 100%;
	
	
	
	color: #FFF;
	font-size: 20px;
	
	text-shadow: 1px 1px 2px rgba(0,0,0,0.6);
	
	background-color: rgba(0,0,0,0.1);
	
	border-radius: 6px;
	
	line-height: 100%;
	display: table-cell;
	vertical-align: middle;
}

#map-container #map #labels .festival {
	left: 6%;
	top: 25%;
	
	width: 25%;
	height: 20%;
}

#map-container #map #labels .disco {
	left: 32%;
	top: 38%;
	
	width: 23%;
	height: 20%;
}

#map-container #map #labels .bar {
	left: 57%;
	top: 62%;
	
	width: 10%;
	height: 12%;
}

#map-container #map #labels .friends {
	left: 70%;
	top: 54%;
	
	width: 14%;
	height: 12%;
}

#map-container #map #labels .home {
	left: 36%;
	top: 66%;
	
	width: 10%;
	height: 10%;
}

#map-container #footer {
	height: 100px;
	width: 100%;
	
	background: #3A69C1;
}

#frame{
	margin: 50px auto;
	width: 1024px; height: 768px;
	border: 15px solid black ;
	background: #574951;
	/*background: red url('../img/bg3.jpg');*/
}

#header{
	height: 96px;
	width: 100%;
	background: #1C0113;
	/*background: url('../img/headerBg.jpg') repeat-x;*/
}

#logo{
	width: 234px; height: 90px;
	margin: 5px auto;
	float: left;
	background: url('../img/logo.png'); background-repeat:no-repeat ;
	
}

#humeur{
	font-family: calibri; font-size: 15px;
	height: 90px; width: 157px;
	float: left;
	background: #1C0113; color:#F03C02;
	text-align: right;
	vertical-align: middle;
	line-height: 90px; 
}

#humeurTotal{
	font-size: 35px; color: #F03C02;
}



#gezondheid{
	font-family: calibri; text-align: right;
	height: 90px; width: 140px; 
	font-size: 15px;
	color:#F03C02; background: #1C0113;
	float: left;
	vertical-align: middle;
	line-height: 90px; 
}

#gezondheidTotal{
	font-size: 35px;
	color: #F03C02;
}


#dag{
	font-family: calibri; font-size: 15px; text-align: center;
	height: 90px; width: 117px;
	color:#F03C02;
	float: left;
	background: #1C0113;
	vertical-align: middle;
	line-height: 90px; 
}

#dagTotal{
	font-size: 35px; color: #F03C02;
}


#stats{
	font-family: calibri;
	margin: 30px 0px 0px 30px;
	height: 40px; width: 350px;
	font-size: 15px;
	float: left;
}

#score{
	width: 187px; height: 90px;
	color:#F03C02; background: #1C0113;
	float: left;
	text-align: center;
	vertical-align: middle;
	line-height: 85px; 


}

#scoreTotal{
	font-size: 40px;
}

#optionsBut{
	height: 90px; width: 131px;
	background: brown;
	float: right;
	background: url('../img/menu.png') center left;
	background-repeat:no-repeat ;
	cursor: pointer;
	
}

.dropdown-menu {
	font-size: 14px;
	list-style: none;
}

#optionsButMenu {
	width: 150px;
	position: absolute;
	right: 20px;
	top: 100px;
	display: none;
	background: #ccc;
	
}

#optionsButMenu ul {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	font-size: 14px;
	list-style: none;
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,0.15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
	box-shadow: 0 6px 12px rgba(0,0,0,0.175);
	background-clip: padding-box;
}

#optionsButMenu ul li {
	display: list-item;
	text-align: -webkit-match-parent;
}

#optionsButMenu ul li a{
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	line-height: 1.428571429;
	text-decoration: none;
	color: #333;
	white-space: nowrap;
}
#optionsButMenu ul li a:hover,
#optionsButMenu ul li a:focus {
	color: #262626;
	text-decoration: none;
	background-color: #f5f5f5;
}


#stats ul{
	font-family: calibri; font-size: 16px;
	list-style: none;
	padding: 0px;
	margin: 0px;
}

#stats ul li{
	padding: 0px;
	margin: 0px 0px 0px 20px;
	display: inline;
	text-align: center;
	vertical-align: middle;

}

#energymeter{
	width: 134px;
	height: 281px;
	position: absolute;
	background: url(/img/energy-meter.png) no-repeat;
	float: right;
	top: 120px;
	right: 20px;
	z-index: 999;
}

#energymeter .amount {
	width: 100%;
	position: absolute;
	bottom: 65px;
	text-align: center;
}

#energymeter .bar {
	width: 134px;
	height: 281px;
	position: absolute;
	background: url(/img/energy-meter-fill.png) no-repeat;
	background-position: center bottom;
	
	right: 4px;
	bottom: 13px;
}

#energymeter .label {
	width: 94%;
	position: absolute;
	text-align: center;
	bottom: 95px;
	margin-right: 10px;
	
	font-size: 20px;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.6);
	color: #FFF;
}

#vierkant { width: 1024px; height: 280px; background: #3A111C; 
		margin: 392px 0px 0px 0px;
}

#vierkant2{
	width: 100px; height: 280px; background: red; 
		margin: 392px 0px 0px 0px;
}

/*login scherm*/

#frameLogin{
	width: 1024px; 
	height: 768px;
	background: url('../img/loginframebg.jpg');
	position: absolute;
}

#orangeBox{
	background: #ff8f00 url('../img/loginlogo.png') -220px -203px no-repeat;
	width: 324px;
	border-radius: 2px;
	margin: 290px auto 0px auto;
	padding: 20px 0px 32px 80px;
}

#orangeBox h1{
	margin: 0px;
	padding: 0px;
	font-size: 26px;
	color: #fff;
}

#orangeBox table{
	margin: 0px auto;
}

#orangeBox input{
	margin: 12px 0px 0px 0px;
	color: #868686;
	font-size: 18px;
	padding: 5px 10px;
	height: 26px;
	width: 244px;
	border: none;
	border-top: 1px solid #e7bd88;
	border-right: 1px solid #e7bd88;
}

#welcomeMsg{
	font-size: 14px;
	color: #fff;
	height: 200px;
	width: 660px;
	margin: 75px auto 0px auto;
}

#welcomeMsg h1{
	font-size: 24px;
	font-weight: 300;
	margin: 0px;
	padding: 0px;
}

.link1{
	margin: -20px 0px 0px -40px;
}

.link1 a{
	color: #fff;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
}

.link1 a:hover{
	text-decoration: underline;
}

#orangeBox .but1{
	border: none;
	float: right;
	color: #fff;
	cursor: pointer;
	width: 127px;
	height: 49px;
	background: url('../img/but1.jpg');
}

#orangeBox .but1:hover{
	background: url('../img/but1_hov.jpg');
}

.but1{
	border: none;
	float: right;
	color: #fff;
	cursor: pointer;
	width: 127px;
	height: 49px;
	background: url('../img/but1.jpg');
}

.but1:hover{
	background: url('../img/but1_hov.jpg');
}

.but2{
	border: none;
	float: center;
	color: #fff;
	cursor: pointer;
	width: 127px;
	height: 49px;
	background: url('../img/but1.jpg');
}

.but2:hover{
	background: url('../img/but1_hov.jpg');
}

.but3{
	padding: 15px;
	background: red;
	width: 200px;
	height: 40px;
	float: left;
	border-radius: 8px;
	color: #fff;
	font-size: 12px;
	margin: 15px 0px 0px 20px;
}

.but3:hover{
	background-color: #af0000;
}

.error{
	background: red;
	float: right;
	margin: 120px 100px 0px 0px;
	padding: 20px;	
	border-radius: 4px;
	font-size: 14px;
	max-width: 300px;
	font-weight: bold;
	color: #fff;
}

#barBackground{
background-image: url('../img/bar.png');
height:100%;	
}

/*AVATAR creation*/
#creationFrame{
	display: none;
	width: 996px;
	margin: 0px auto;
	background: url('../img/avatar_creation_bg.png');
	color: #fff;
	font-family: arial;
	font-size: 12px;
}

#creationFrame h2{
	font-size: 24px;
	font-weight: 300;
}

#cF1{
	width: 585px;
	float: left;
}

#cF2{
	padding: 22px 25px 22px 20px;
	margin-left: 10px;
	width: 354px;
	height: 569px;
	float: left;
}

#avatarFields{
	height: 54px;
	background: #f03c02;
	font-size: 20px;
	padding: 5px;
}

#radio{
	float: left;
	margin: 15px 0px 0px 30px;
}

#radio input{
	margin: 0px 10px 0px 10px;
}

#nickField{
	width: 200px;
	padding: 5px 10px;
	margin: 5px 3px 0px 0px;
	font-size: 20px;
	border: none;
	height: 35px;
	float: right;
	border-radius: 2px;
}

.block{
	margin-bottom: 5px;
}

.leftArrow{
	background: url('/img/arrowleft.jpg');
	width: 67px;
	height: 68px;
	float: left;
	cursor: pointer;
	margin: 35px 0px 0px 100px;
}

.rightArrow{
	background: url('/img/arrowright.jpg');
	width: 67px;
	height: 68px;
	float: right;
	cursor: pointer;
	margin: 35px 100px 0px 0px;
}

#gameOverbackground{
	background: #000000;		
}

#gameOverbackground h1{
	font-size: 26px color #DC143C;
	font-color: #DC143C;
	color: #DC143C;
}

#gameOverbackground h2{
	font-size: 20px;
	color: #FFFFFF;
}

#gameOverbackground p{
	font-size: 14px;
	color: #FFFFFF;
}

#deadhead{
float: left;
}

.opaque1 {	// for all other browsers
	opacity: .5;
}

#head{
	height: 120px;
	position: absolute;
	margin: 18px 0px 0px 210px;
}

#body{

	position: absolute;
	margin: -1px 0px 0px 210px;
}

#legs{
	position: absolute;
	margin: -17px 0px 0px 210px;
}

#headBlock{
	height: 135px;
	background: #ff8f00;
}

#bodyBlock{
	height: 170px;
	background: #ff8f00;
}

#legBlock{
	height: 187px;
	background: #ff8f00;
}

#optionsBlock{
	height: 27px;
	background: #ff8f00;
	font-size: 14px;
	padding: 10px;
}

.skin{
	float: left;
	margin: 0px 0px 0px 4px;
	height: 20px;
	width: 20px;
	cursor: pointer;
	border: 1px solid #2c1501;
}

#skin1{
	background: #e29857;
}

#skin2{
	background: #df873a;
}

#skin3{
	background: #dc7923;
}

#skin4{
	background: #a64e00;
}

#skin5{
	background: #2c1501;
}

.content_container {
	position: absolute;
	width: 550px;
	
	padding: 25px;
	
	top: 120px;
	left: 50%;
	margin-left: -300px;
	
	border-radius: 6px;
	
	background: #FFF;
}
.content_container .text-container {
	width: 200px;
	float: left;
}
.content_container #avaFemale, .content_container #avaMale {
	height: 400px;
	float: right;
	position: relative;
	padding: 0px;
}

a{
	text-decoration: none;
}

.androidApp{
	padding: 10px;
	background: #20b403;
	border-radius: 4px;
	text-align: center;
	color: #fff;
}

.androidApp:hover{
	background: #46bd12;
}